<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  data-target="#navbarNav" class="collapse navbar-collapse">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item mx-2" routerLinkActive="active current">
        <a class="nav-link" routerLink="/table">
          <fa-icon [icon]="tableIcon"></fa-icon>
          Table
        </a></li>
      <li class="nav-item mx-2" routerLinkActive="active current">
        <a class="nav-link" routerLink="/list">
          <fa-icon [icon]="listIcon"></fa-icon>List
        </a>
      </li>
      <li *ngIf="auth.isAdmin()" class="nav-item mx-2" routerLinkActive="active current">
        <a class="nav-link" routerLink="/create">
          <fa-icon [icon]="plusIcon"></fa-icon>Add
        </a>
      </li>
      <li class="float-right">
        <a class="nav-link" (click)="auth.logout()">
          <fa-icon [icon]="logOutIcon"></fa-icon>Log out
        </a>
      </li>
    </ul>
  </div>
       {{exampleText}}  
</nav>
<br>

<br>