

<div id="mainContainer">

<table class="table table-image">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Info</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let model of pageOfItems" (click)="RowSelected(model);">
            <td><img [src]="model.img" class="img-fluid img-thumbnail" width="70px"></td>
            <td>{{model.title}}</td>
            <td>{{model.type}}</td>
            <td>{{model.info}}</td>
            <td>{{model.location}}</td>
            <td>{{model.date|date}}</td>
            <td  *ngIf="auth.isAdmin()"><button class="btn btn-dark mr-2"(click)="editModel(model)">Edit</button>
                <button class="btn btn-dark " (click)="deleteModel(model)">Delete</button></td>
        </tr>
    </tbody>
</table>
<br>
<div class="d-flex justify-content-center">
<jw-pagination [items]="list" (changePage)="onChangePage($event)"></jw-pagination>
</div>
</div>